<div id="content" class="content-site customize-site"> {{ $webstack := .Site.Data.webstack }} {{ $defaultLogo := $.Site.Params.defaultLogo }} {{ $logosPath := $.Site.Params.logosPath }}
{{ range $webstack }}
    {{ if .list }}
        {{ range $index, $element := .list }}
            <div class="d-flex flex-fill">
                <h4 class="text-gray text-lg mb-4">
                    <i class="site-tag iconfont icon-tag icon-lg mr-1" id="{{ md5 .term }}"></i>
                    {{ .term }}
                </h4>
                <div class="flex-fill"></div>
            </div>
            <div class="row">
                {{ range $element.links }}
                    <div class="url-card col-6  col-sm-6 col-md-4 col-xl-5a col-xxl-6a">
                        <div class="url-body default">
                            {{ if .qrcode }}
                                <a href="javascript:" target=""
                                    class="card no-c mb-4" data-toggle="tooltip" data-placement="bottom" data-html="true" title="<img src='{{ .qrcode }}' width='128'>">
                            {{ else }}
                                <a href="{{ .url }}" target="_blank" data-id="" data-url="{{ .url }}"
                                    class="card no-c mb-4" data-toggle="tooltip" data-placement="bottom" data-original-title="{{ .description }}">
                            {{ end }}
                                <div class="card-body">
                                    <div class="url-content d-flex align-items-center">
                                        <div class="url-img mr-2 d-flex align-items-center justify-content-center">
                                            {{ if findRE "http.*?(.|\n)*?" .logo }}
                                                {{ if $defaultLogo }}
                                                    <img class="lazy" src="{{ .logo }}" data-src="{{ .logo }}"
                                                        onerror="javascript:this.src='{{ $defaultLogo }}'" alt="{{ .title }}">
                                                {{ else }}
                                                    <img class="lazy" src="{{ .logo }}" data-src="{{ .logo }}"
                                                        onerror="javascript:this.src='{{ .logo }}'" alt="{{ .title }}">
                                                {{ end }}
                                            {{ else }}
                                                {{ if $defaultLogo }}
                                                    <img class="lazy" src="{{ $logosPath }}/{{ .logo }}" data-src="{{ $logosPath }}/{{ .logo }}"
                                                        onerror="javascript:this.src='{{ $defaultLogo }}'" alt="{{ .title }}">
                                                {{ else }}
                                                    <img class="lazy" src="{{ $logosPath }}/{{ .logo }}" data-src="{{ $logosPath }}/{{ .logo }}"
                                                        onerror="javascript:this.src='{{ $logosPath }}/{{ .logo }}'" alt="{{ .title }}">
                                                {{ end }}
                                            {{ end }}
                                        </div>
                                        <div class="url-info flex-fill">
                                            <div class="text-sm overflowClip_1">
                                                <strong>{{ .title }}</strong>
                                            </div>
                                            <p class="overflowClip_1 m-0 text-muted text-xs">{{ .description }}</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="{{ .url }}" class="togo text-center text-muted is-views" data-id="689"
                                data-toggle="tooltip" data-placement="right" title="直达" rel="nofollow">
                                <i class="iconfont icon-goto"></i>
                            </a>
                        </div>
                    </div>
                {{ end }}
            </div>
            <br />
        {{ end }}
    {{ else }}
        <div class="d-flex flex-fill">
            <h4 class="text-gray text-lg mb-4">
                <i class="site-tag iconfont icon-tag icon-lg mr-1" id="{{ md5 .taxonomy }}"></i>
                {{ .taxonomy }}
            </h4>
        </div>
        <div class="row">
            {{ range .links }}
                <div class="url-card col-6  col-sm-6 col-md-4 col-xl-5a col-xxl-6a">
                    <div class="url-body default">
                        {{ if .qrcode }}
                            <a href="javascript:" target=""
                                class="card no-c mb-4" data-toggle="tooltip" data-placement="bottom" data-html="true" title="<img src='{{ .qrcode }}' width='128'>">
                        {{ else }}
                            <a href="{{ .url }}" target="_blank" data-id="" data-url="{{ .url }}" 
                                class="card no-c mb-4" data-toggle="tooltip" data-placement="bottom" data-original-title="{{ .description }}">
                        {{ end }}
                            <div class="card-body">
                                <div class="url-content d-flex align-items-center">
                                    <div class="url-img mr-2 d-flex align-items-center justify-content-center">
                                        {{ if findRE "http.*?(.|\n)*?" .logo }}
                                            {{ if $defaultLogo }}
                                                <img class="lazy" src="{{ .logo }}" data-src="{{ .logo }}"
                                                    onerror="javascript:this.src='{{ $defaultLogo }}'" alt="{{ .title }}">
                                            {{ else }}
                                                <img class="lazy" src="{{ .logo }}" data-src="{{ .logo }}"
                                                    onerror="javascript:this.src='{{ .logo }}'" alt="{{ .title }}">
                                            {{ end }}
                                        {{ else }}
                                            {{ if $defaultLogo }}
                                                <img class="lazy" src="{{ $logosPath }}/{{ .logo }}" data-src="{{ $logosPath }}/{{ .logo }}"
                                                    onerror="javascript:this.src='{{ $defaultLogo }}'" alt="{{ .title }}">
                                            {{ else }}
                                                <img class="lazy" src="{{ $logosPath }}/{{ .logo }}" data-src="{{ $logosPath }}/{{ .logo }}"
                                                    onerror="javascript:this.src='{{ $logosPath }}/{{ .logo }}'" alt="{{ .title }}">
                                            {{ end }}
                                        {{ end }}
                                    </div>
                                    <div class="url-info flex-fill">
                                        <div class="text-sm overflowClip_1">
                                            <strong>{{ .title }}</strong>
                                        </div>
                                        <p class="overflowClip_1 m-0 text-muted text-xs">{{ .description }}</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="{{ .url }}" class="togo text-center text-muted is-views" data-id="689"
                            data-toggle="tooltip" data-placement="right" title="直达" rel="nofollow">
                            <i class="iconfont icon-goto"></i>
                        </a>
                    </div>
                </div>
            {{ end }}
        </div>
        <br />
    {{ end }}
{{ end }}                        

<h4 class="text-gray text-lg mb-4">
    <i class="iconfont icon-book-mark-line icon-lg mr-2" id="friendlink"></i>友情链接
</h4>
<div class="friendlink text-xs card">
    <div class="card-body">
        {{ range .Site.Data.friendlinks }}
            <a href="{{ .url }}" title="{{ .description }}" target="_blank">{{ .title }}</a>
        {{ end }}
    </div>
</div>
</div>