#navigation {background: #293c55;padding-bottom:60px;}
.website {margin-bottom:15px;background: none;overflow: hidden; transition: all 0.3s ease;}
.website:hover{transform: translateX(4px);-webkit-transform: translateX(4px);}
.website a {display: block;width:100%;background: #fff;padding: 4px 4px 8px 4px;border-radius: 4px;}
.website_logo {width:34px;height:34px;border-radius:100%;-webkit-border-radius:100%;margin-top:5px;float:left;}
.website_introduce {margin-left:40px;}
.website_name {margin:2px auto 0px;height:24px;line-height: 24px;font-size:14px;}
.website_keywords {color:#999;font-size:12px;margin-bottom:0px;height:14px;line-height: 14px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.tab_nav .user {height:60px;line-height:60px;margin:0 auto 0;font-size:16px;border-right:1px dotted #121213;border-bottom:1px dotted #6a5ce9;cursor:pointer;text-align:center;color:#fff;	background: #6a5ce9;	}
.tab_nav .user a {color:#fff;display: block;height:60px;line-height:60px;}
.tab_nav .user:nth-child(4n) {border-right:none;}
.tab_nav .user.active {background: #172b44;	border-bottom:none;}
.website_name em {color:#999;text-indent:16px;font-size:12px;float:right;margin-right:4px;background:url(../images/see.png) no-repeat left center;background-size:14px;font-style:normal;}
.site {padding-top:15px;}
.tab_con {background:#20344e;  padding: 0 8px;}




.hot {/*padding:0 15px 0;*/margin-top:30px;}
/*.hot .hot_logo {cursor:pointer;display: flex;padding:0;margin-bottom:4px;	justify-content:center;align-items:center;flex:1;-ms-flex-align: center;display: -webkit-box;display: -ms-flexbox;}
.hot a {width:64px;cursor:pointer;display: flex;margin:0 4px 0;flex:1;-webkit-box-flex:1;-webkit-box-align: center;display: -moz-flexbox;	}
*/
#navigation .hot .hot_logo {cursor:pointer;display: flex;padding:0;margin-bottom:4px;padding-right:0px!important;padding-left:4px!important;	}
.hot a {width:64px;cursor:pointer;margin-right:2px;/*margin:0 4px 0;*/}


.hot a img {cursor:pointer;border-radius:100%;-webkit-border-radius:100%;transition: transform 0.6s;-webkit-transition: -webkit-transform 0.6s;-moz-transition: -moz-transform 0.6s;-ms-transition: -ms-transform 0.6s;overflow:hidden;display:block;}
.hot a:hover img {transform: rotateY(180deg);-webkit-transform: rotateY(180deg);-moz-transform: rotateY(180deg);-ms-transform: rotateY(180deg);-o-transform: rotateY(180deg);}

.title{text-align:center;background:#082847; margin:10px 8px;padding: 4px 0;}
.tit {height:60px;text-align:center;color:#fff;position:relative;display:inline-block;} /*这里的display设置很重要*/
.tit:before, .tit:after {content:'';position:absolute;width:46px;height:40px;background:url(../images/tit.png) no-repeat;background-size:93px 40px;}
.tit:before {left:-48px;top:12px;background-position:left center;}
.tit:after {right:-48px;top:12px;background-position:right center;}
.tit h3 {font-size:16px;padding-top:23px;margin:0;}
.tit p {font-size:12px;letter-spacing: 2px;}

/*搜索区域*/
#search {
	max-width:716px;
	margin:90px auto 30px
}
#search form {
	position:relative
}
#search-text {
	padding:12px;
	width:100%;
	height:48px;
	line-height:48px;
	font-size:16px;
	border:0;
	border-radius:3px
}
#search button {
	position:absolute;
	top:0;
	right:0;
	background:#172b44;
	border:0;
	width:66px;
	height:48px;
	line-height:48px;
	border-radius:0 3px 3px 0
}
#search button:hover {
	background:#172b44;
	cursor:pointer
}
#search button i {

display: inline-block;
vertical-align: middle;
	color:#fff;
	font-size:18px;

}
.search-group {
	display:none;
	padding-left:75px
}
.s-current .search-type {
	display:block
}
.s-current {
	display:block
}
#search-list {
	position:relative
}
.s-type {
	position:absolute;
	top:0;
	left:0;
	z-index:13;
	width:75px
}
.s-type:hover {
	height:auto
}
.s-type&gt;
	span {
	display:block;
	height:31px;
	width:75px
}
.s-type-list {
	display:none;
	position:absolute;
	top:31px;
	padding:12px 0;
	width:75px;
	background:#fff;
	border-radius:4px;
	box-shadow:0 5px 11px rgba(0,0,0,.16)
}
.s-type-list:before {
	position:absolute;
	top:-16px;
	left:10px;
	content:' ';
	display:block;
	width:0;
	height:0;
	border:10px solid transparent;
	border-bottom-color:white
}
.s-type-list label {
	display:block;
	font-size:16px;
	line-height:32px;
	color:#aabfb9;
	text-align:center
}
.s-type-list label:hover {
	color:#5b6662
}
.s-type:hover .s-type-list {
	display:block
}
.type-text {
	position:absolute;
	left:0;
	width:75px;
	padding-left:12px;
	font-size:16px;
	line-height:31px;
	color:#fff;
}
.type-text:after {
	content: '';
	font-family: FontAwesome;
	margin: 0 0 0 15px
}
.search-type {
	white-space:nowrap;
	margin-bottom: 0px;
}
.search-type li {
	display:inline-block
}
.search-type li label {
	display:inline-block;
	padding:0 11px;
	font-size:13px;
	line-height:31px;
	border-radius:3px 3px 0 0;
	cursor:pointer;
	margin-bottom:0px;
}
.search-type input:checked+label {
	background-color:#fff
}
.set-check {
	margin-top:3px;
	font-size:12px
}
.set-check label {
	margin-left:3px
}
.set-check input,.set-check label {
	opacity:0;
	transition:all .3s ease
}
.set-check:hover input,.set-check:hover label {
	opacity:.2
}
.set-check:hover label:hover {
	opacity:1
}
.search-type li {
	list-style:none;
	display:inline-block
}
button.close {
	-webkit-appearance:none;
	padding:0;
	cursor:pointer;
	background:0;
	border:0
}
.close {
	float:right;
	font-size:21px;
	font-weight:700;
	line-height:1;
	color:#000;
	text-shadow:0 1px 0 #fff;
	filter:alpha(opacity=20);
	opacity:.2
}


@media screen and (max-width:767px) {
	#search {
		margin: 25px auto 15px
	}

	.search-type {
		overflow: scroll
	}

	.search-list {
		height: 30px;
		overflow-y: hidden;
		overflow-x: scroll;
		white-space: nowrap
	}

	.search-list label {
		padding: 8px 12px 7px
	}
}



#navigation .col-xs-12, #navigation .col-sm-6, #navigation .col-md-3, #navigation .col-lg-2 {
	padding-left:8px!important;
	padding-right:8px!important;
}





